:root {
  --font-family-main: Kreon, 'Times New Roman', serif;

  --font-size: 18px;
  --font-line: 24px;
  --font: var(--font-size) / var(--font-line) var(--font-family-main);

  --black: #000;
  --white: #fff;
  --gray: #dad6d6;
  --hightlight: #f0efef;
}
